@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
<head>
    <link rel="stylesheet" href="~/css/products.css" />

</head>
<section class="products">
    <div class="container">
        <div>
            <h4>حذف...!</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
          
        </p>
    </div>
    <p style="text-align: left">
        <a href="~/Roles/Index" class="nav-link">العوده </a>
    </p>
    <br />
</section>