@model IEnumerable<FitnessCenter.ViewModel.ItemViewModel>

<head>

    <link rel="stylesheet" href="~/css/products.css" />
    <link rel="stylesheet" href="~/css/courses.css">
</head>

<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text(data.Counter);
                }
            },
            error: function () {
                alert("There Is Some Problem");
            }
        });
    }
</script>
<section class="overlay">

    <!-- start courses -->
    <section class="courses">
        <div class="container">
            <div class="row">
                <h2> صفحة المنتجات  </h2>
                <div style="text-align:right">
                    @using (Html.BeginForm("Search", "Shopping", FormMethod.Post))
                    {
                        <input type="text" name="searchName" id="searchName"
                               placeholder="ابحث هنا.....!"  />
                    }
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="img">
                            <img src="~/Uploads/@item.ImagePath" alt="" />
                        </div>
                        <div class="info">
                            <h5>@item.ItemName</h5>
                            <p style="text-align: right">
                                @item.Description.
                            </p>
                            <h6>@item.ItemPrice</h6>
                            @*<button class="btn btn-border-orange">أضف الى عربة التسوق</button>*@
                            <input type="button" name="AddToCart" value="أضف الى عربة التسوق" class="btn btn-border-orange" itemid="@item.ItemId" id="btnAddToCart" onclick="AddToCart(this)" />

                        </div>
                    </div>
                }
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Home/Index" class="nav-link">العوده للصفحه الرئيسيه</a>
        </p>
        <br />
    </section>
</section>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>




















    <!--{
        ViewBag.Title = "Course";
    }
    <link href="~/Content/Site.css" rel="stylesheet" />


    <h2>Course</h2>
    <br />
    <li>
        using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <input type="text" name="searchName" id="searchName"
                   placeholder="Search..." />
        }


    </li>

    <br />-->
    @*<div class="panel panel-info">*@



    @*<div class="row panel-body">*@


    <!--foreach (var Item in Model)
    {

        <div class="col-md-2 thumbnail" style="margin-left:20px;margin-bottom:30px; min-height:350px; border:solid solid solid none">
            <img src="~/Uploads/Item.courseImage" />
            <h3>Html.DisplayFor(modelItem => Item.courseTitle)</h3>
            <h5>Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => Item.courseContent).ToString()))</h5>

            Html.ActionLink("عرض التفاصيل", "Details", new { CourseId = Item.Id }, new { class = "btn btn-warning" })
        </div>

    }

    Styles.Render("~/Content/css")-->
    @*</div>*@
    @*</div>*@
