
<link rel="stylesheet" href="../css/mokamelat.css" />

<!-- start whyprotin -->
<section class="why">
    <div class="container">
        <div class="top">
            <h2>مكمل Branched Chain Amino Acids(BBC)</h2>
            <div class="img">
                <img src="../assets/image/mokamelat/bcaa.jpg" />
            </div>
        </div>
        <div class="defination">
            <p>
                الامينية المتشعب سلسلة الاحماض الامينية المتشعبة هي 3 احماض امينية
                اساسية: الليوسين والايزو ليوسين والفالين . وهي أحماض لا يستطيع الجسم
                تخليقها بداخله ويحتاج اليها من مصادر خارجية. الاحماض الامينية
                المشعبة تشكل 40% من احتياجات الجسم من ال 10 احماض امينية اساسية، مما
                يعد مؤشر على اهميتهم للجسم. وتم تسميتهم بالسلسلة المتشعبة بسبب
                تكوينهم الكيميائي. | دراسات كثيرة اكدت الفاعلية الكبيرة لمكمل ال
                BCAA في مكافحة الأجهاد أثناء التمرين وزيادة تخليق بروتين العضلات
                وتسريع الاستشفاء العضلي
            </p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h4 class="fav2" style="font-size: 20px; width: 450px">
                    *فاعلية ال BCAAمع تناول كمية البروتين المطلوبة يوميا:
                </h4>
                <p>
                    أستنتج العلماء أن BCAA ليس له أي فائدة أضافية في حال تناولت كمية
                    البروتين المطلوبة يوميا . وعلق العلماء أنه في حالة عدم قدرتك على
                    إكمال كمية البروتين التي يحتاجها جسمك يوميا فمكمل الواي بروتين
                    يعتبر أفضل كثيرا. حيث أن حمض الليوسين بمفرده ليس له تأثير إيجابي
                    مع غياب بقية الأحماض الأمينية. عدة دراسات أخرى تم نشرها سنة 2015,
                    استنتجت أن بالرغم من شهرة مكمل ال BCAA الكبيرة. فليس هناك أي دليل
                    على فاعليته لبناء العضلات. ونصح العلماء بتناول الطعام البروتيني
                    بدلا من مكمل ال. BCAA والخلاصة هنا أن تتناول احتياجاتك من البروتين
                    وتوزعها على 3 أو با وجبات. وفي حالة وجود عجز، أستعين بالواي بروتين
                    وليس ال BCAA.
                </p>
            </div>

            <div class="col-md-5">
                <h4 class="fav2">*جرعة ال BCAA الموصى بها</h4>
                <p>
                    يفضل الرجوع الى الجرعة الموصى بها على عبوة المكمل . لأن ال BCAA
                    تأتي على شكل اقراص او بوردة. كما أن هناك بعض الاضافات ل BCAA مثل
                    النكهة واللون والسكريات مما يجعل من الصعب وصف جرعة موحدة الكل
                    المكملات. لكن بشكل عام, تناول 5 جرامات من ال BCAA أثناء او قبل
                    التمرين. يفضل شراء المكمل الذي يحتوي على نسبة 1:1:2 من الليسيين:
                    ايزو ليوسين: فالين
                </p>
                <p>
                    <span>الخلاصة</span>: في حالة تناولك احتياجاتك من البروتين يوميا،
                    لا حاجة المكمل ال BCAA. وفي حالة وجود عجز في البروتين تناول الواي
                    بروتين او الكازين بروتين مساءا بدلا من الBBC
                </p>
            </div>
        </div>
    </div>
    <p style="text-align: left">
        <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
    </p>
    <br />
</section>

<script src="../js/lib/bootstrap.bundle.min.js"></script>

