    <link rel="stylesheet" href="../css/mokamelat.css" />
    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكمل زيت السمك</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/fish.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    **حبوب زيت السمك اوميجا 3
                    حبوب زيت السمك هو مكمل غذائي هدفه تزويد الجسم بالاوميجا 3 ، والتي هي نوع من انواع الاحماض الدهنية الاساسية و الغير مشبعة، والتي لا يمكن للجسم أن يصنعها بنفسه ويعتمد على أخذها من المصادر الخارجية المتناولة. والتي هي ضرورية لوظائف المخ و حماية القلب و لها دور رئيسي في تخفيض الكوليسترول الضار بالجسم و حماية الجلد و الوقاية من السرطان.

                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav">مصادر الاوميجا 3 بعيدا عن حبوب زيت السمك</h4>
                    <p>
                        الاسماك الزيتية تعتبر المصدر الرئيسي للأحماض الدهنية اوميجا 3، مثل : الرنجة. والماكريل ، والسردين ، وسمك السلمون .
                    </p>

                    <ul>
                        <li>. بذور الكتان وزيت بذور الكتان. </li>
                        <li>. بذور اللفت وزيت بذور اللفت </li>
                        <li>: المكسرات وخصوصا الفول السوداني و الجوز و اللوز. </li>
                        <li>: زيت الزيتون . </li>
                        <li>. الخضار الورقية الخضراء الداكنة مثل السبانخ . </li>
                        <li>: فول الصويا.</li>
                    </ul>
                    <h4 class="fav2">أعراض نقص الأوميجا 3 بالجسم : </h4>
                    <ul>
                        <li>: أجهاد و دوخة و ضعف الذاكرة. </li>
                        <li>- زيادة الكوليسترول الضار HDL بالدم.</li>
                        <li> . جفاف الجلد و ذبول البشرة. </li>
                        <li>. تقصف و تساقط الشعر. </li>
                        <li>. ضعف الاظافر. </li>
                        <li>. تقلب مزاجي و أكتئاب </li>
                    </ul>
                </div>

                <div class="col-md-5">
                    <h4 class="fav">فوائد اوميجا 3؟</h4>
                    <p>
                        اثبتت عديد من الدراسات أن الأوميجا 3 تزيد من افراز الهرمونات البنائية بالجسم مثل هرمون التيستوستيرون و هرمون النمو مما يساهم في التخسيس و بناءالعضلات.
                    </p>
                    <p>
                        <span>الاوميجا 3 تدخل في العديد من العمليات الحيوية في جسم الانسان، ومن أشهر فوائدها للجسم: </span>
                        <ul>
                            <li>- تعزيز صحة القلب والشرايين والوقاية من الجلطات القلبية والسكتات الدماغية. </li>
                            <li>- تعزيز عمل الدماغ والذاكرة ومحاربة الزهايمر. </li>
                            <li>- مكافحة الالتهابات المختلفة في الجسم وتعزيز المناعة.</li>
                            <li> - علاج الربو والتهابات الجهاز التنفسي. </li>
                            <li>- معالجة نقص الانتباه وفرط النشاط عند الاطفال. </li>
                            <li>
                                - تعزيز صحة البشرة واعطائها الرطوبة والنضارة،
                            </li>
                            <li>وعلاج بعض المشاكل الجلدية مثل الصدفية وحب الشباب.</li>
                            <li>- تعزيز صحة الشعر وتغذيته وعلاج قشرة الرأس. </li>
                            <li>- مهمة لنمو دماغ الجنين وتكوينه ولسلامة الاعصاب والعيون</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-11">
                    <h4 class="fav">الكميات التي ينصح بها من اوميجا 3؟</h4>
                    <p>
                        للمساعدة في الوقاية من أمراض القلب، ينصح عادة بتناول حصتين من الاسماك على الأقل أسبوعيا . أما من يعانون من أمراض القلب فننصحهم بزيادة الحصة المتناولة أسبوعيا من الاسماك الزيتية الى ما يقارب 3-ها حصص اسبوعيا. الجرعة المطلوب يوميا من الأوميجا 3 تكون من 1000 إلى 3000 مجم. و تحتوي كابسولة زيت السمك على تركيزات مختلفة من الأوميجا 3 من 300 مجم إلى  950مجم.
                    </p>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>

