    <link rel="stylesheet" href="../css/mokamelat.css" />
    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكمل الجنير</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/ganer.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    مستخلص من مصل الحليب يمنحك 760 سعر حراري و55 جرام من البروتين ، هو
                    القدر المناسب الذي يحتاجه جسم الرياضي الذي يرغب في زيادة العضلات في
                    وقت قصير .
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav2">فوائد جولد ستاندرد جينر</h4>
                    <ul>
                        <li>1-يساعد علي إكتساب الوزن وعلاج النحافة .</li>
                        <li>2-يحتوي علي بروتين بطئ الهضم يمتد مفعوله لفترة طويلة .</li>
                        <li>
                            3-يساعد في عملية الاستشفاء العضلي اللازمة لمن يقمون بالتدريبات
                            الشاقة .
                        </li>
                        <li>
                            4-يمد الجسم بقدر مناسب جدا من البروتين عال الجودة والكربوهيدرات
                            .
                        </li>
                        <li>
                            5-غني بالصوديوم والبوتاسيوم والحديد وغيره من المعادن المفيدة
                            للجسم .
                        </li>
                        <li>6- يساعد في زيادة حجم العضلات وقوتها .</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="fav2">مكونات الواى بروتين</h4>
                    <table class="table table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="row">محتوي 1 سكوب 31g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">سعرات حرارية</th>
                                <td>770</td>
                            </tr>
                            <tr>
                                <th scope="row">بروتين</th>
                                <td>55g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الكربوهيدرات</th>
                                <td>116g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الدهون</th>
                                <td>9g</td>
                            </tr>
                            <tr>
                                <th scope="row">سكر</th>
                                <td>12g</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-5">
                    <h4 class="fav">كيفية تناول جولد ستاندرد جينر</h4>
                    <ul>
                        <li>
                            1-بين الوجبات : إذا كنت ترغب في زيادة سعراتك الحرارية وزيادة
                            الوزن فقط : أمزج سكوب واحد وتناوله بين الوجبات
                        </li>
                        <li>
                            2-قبل التدريب : إذا كنت ترغب في الحصول علي الانتعاش لتزيد كفاءتك
                            في التدريب : أمزج سكوب واحد أو اثنين مع الحليب أو الماء وتناوله
                            قبل التدريب بنصف ساعه أو ساعة الا ربع .
                        </li>
                        <li>
                            3-قبل النوم : اذا كنت ترغب في الاستشفاء العضلي قبل النوم : أمزج
                            سكوب واحد وتناوله قبل النوم بفترة تتراوح ما بين 45 دقيقة و 60
                            دقيقة .
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="fav">تحذيرات عند تناول جولد ستاندرد جينر</h4>
                    <ul>
                        <li>
                            1-يساهم هذا المنتج في زيادة الوزن وعلاج النحافة لذا هو غير مناسب
                            لمن يتبعون حمية غذائية تهدف لإنقاص الوزن .
                        </li>
                        <li>
                            2-يحتوي علي اللبن والفول الصويا والقمح لذا لا ننصح بتناوله لمن
                            يعاني من التحسس من أي من تلك المكونات .
                        </li>
                        <li>
                            3-رغم انه مركب غني جدا إلا أنه لا يغني عن نظام غذائي متوازن
                            وممارسة التدريبات الرياضية والانتظام عليها .
                        </li>
                        <li>
                            3-مفيد جدا لصحة الجسم ولكن لا يعتبر دواء لأي مرض ولا يقي من أي
                            مرض .
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>

