    <link rel="stylesheet" href="~/css/mokamelat.css" />

    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكمل الكازين</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/casen.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    يعتبر الكازين احد اهم البروتينات الموجودة باللبن ، فإنه يمثل 80% من
                    إجمالي البروتينات الموجودة به . فهو يوفر كغيره من البروتينات
                    الحيوانية الأخرى كافة الأحماض الأمينية الأساسية التي يحتاجها الجسم
                    للنمو ويقوم بتعويض البروتينات المفقودة .
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav2">خصائص بروتين الكازين</h4>
                    <ul>
                        <li>
                            1-يتم هضم بروتين الكازين ببطء بينما مصل اللبن يتم هضمه بسرعة
                            فهذا هو الفرق المهم بين هذين المكملين الأكثر شعبية .
                        </li>
                        <li>
                            2- 33 جرام من مسحوق الكازين تحتوي علي 24جرام من البروتين و 3
                            جرام من الكربوهيدرات و 1جرام من الدهون قد تحتوي أيضا علي
                            المغذيات الدقيقة المختلفة ( مثل الكالسيوم ) ولكن التركيبة
                            الدقيقة تختلف تبعا لنوعه
                        </li>
                        <li>
                            3- يتم افراز الاحماض الأمينية من بروتين الكازين ببطئ شديد لذلك
                            فهو مناسب جدا تناوله قبل النوم حيث أنه يساعد في استعاده
                            البروتينات المفقودة ويقلل من تكسير العضلات أثناء النوم .
                        </li>
                        <!-- <li>4-بروتين الكازين مثالي إذا كنت تريد تغذية خلايا العضلات بالاحماض الامينية بكمية قليلة علي مدار وقت طويل نظرا لبطئ الامتصاص من الأمعاء .</li>
                              <li>5-بروتين الكازين مثالي قبل النوم أو اثناء الصيام . </li>
                              <li>6--	يمكن ان يستغرق الكازين سبع ساعات للهضم مما يعاني أنه مع تعافي عضلاتك وإعادة نموها يعمل بروتين الكازين علي إطعامهم باستمرار من خلال إعادة بناء الوقود والمساعدة علي انهيار العضلات . </li> -->
                    </ul>
                    <h4 class="fav">أفضل وقت لتناول الكازين :</h4>
                    <p>
                        الكازين ليس سريع الامتصاص وسيمدك بالبروتين علي مدي الي 6 الي 8
                        ساعات وهذا ما نحتاجه بالظبط الكازين عندما لا يوجد وقت لتناول وجبات
                        عدة ، أو قبل النوم حين يحتاجه الجسم .
                    </p>
                </div>

                <div class="col-md-5">
                    <h4 class="fav2">مكونات بروتين الكازين</h4>
                    <table class="table table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="row">محتوي 1 سكوب 31g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">سعرات حرارية</th>
                                <td>120</td>
                            </tr>
                            <tr>
                                <th scope="row">بروتين</th>
                                <td>24g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الكربوهيدرات</th>
                                <td>3g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الدهون</th>
                                <td>1g</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="fav">هل لتناول بروتين الكازين اثار جانبية ؟</h4>
                    <p>
                        أبرزت الدراسات الحديثة أن بروتين الكازين ليس له اثار سلبية علي صحة
                        الأفراد الأصحاء والاستثناء الوحيد هو تأثيره علي مرضي الكلي والكبد
                        والذين قد يحتاجون للحد من تناول الكازين بعض الأشخاص يكون لديهم
                        حساسية من اللاكتوز عموما وهو السكر الموجود في اللبن لذلك لا ينصح
                        بتناول هذا البروتين لأشخاص المصابين بالحساسية
                    </p>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>

