    <link rel="stylesheet" href="../css/mokamelat.css" />
    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكمل الكرياتين</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/keryaten.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    مكمل الكرياتين الكرياتين هو أحد أشكال الأحماض العضوية التي تتواجد في
                    جسم الإنسان، دوره إمداد عضلات الجسم بكميات الطاقة التي تلزمها لكي
                    تتمكن من أداء التمارين الرياضية، كما يحرص الأشخاص الرياضيون على
                    الحصول عليها حتى ترفع من مستوى قوتهم وقدرتهم على أداء التمارين
                    الرياضية المختلفة.
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav2">مصادر الكرياتين</h4>
                    <p>
                        يتوفر هذا الحمض العضوي في العديد من أصناف الأطعمة ولكنه يتركز بشكل
                        كبير في الأسماك واللحوم ، وهذا السبب الرئيسي لحرص الرياضيين على
                        تناول الأسماك واللحوم بكثرة. فالبروتينات الحيوانية تتكون من العديد
                        من أشكال الأحماض وخاصة حمض الكرياتين. كما أن لاعبي كمال الأجسام
                        الذين يصلون لمراحل متقدمة من بناء الكتلة العضلية في الجسم لا
                        تكفيهم كمية هذا الحمض من مصادرها في البروتينات الحيوانية،
                    </p>

                    <h4 class="fav2">أضرار الكرياتين</h4>
                    <p>
                        . يحدث الام وانتفاخ في البطن، ولكن هذه المشكلة من المشاكل المؤقتة
                        له, فهي سوف تختفي عند تقليل كمية هذا الحمض . يؤثر سلبا على عمل
                        الكلي ، فتناوله لفترات طويلة يتسبب بحدوث الضرر للكلى تناول
                        الكرياتين كمكمل غذائي بطريقة خاطئة يؤثر على صحة الجسم، فالجسم سوف
                        يتعود على هذه الكمية من هذا الحمض،
                    </p>
                </div>

                <div class="col-md-5">
                    <h4 class="fav">طرق استخدام الكرياتين</h4>
                    <p>
                        يجب التنبيه قبل البدء بتناول هذا الحمض بأن الأشخاص الذين يرغبون
                        بتناول الكرياتين يجب أن يكونوا على مستوى فوق المتوسط في رياضة كمال
                        الأجسام ويقصد بذلك أن لا تقل مدة التمارين الرياضية عن حوالي 9-6
                        أشهر، والطريقة الأفضل لتناول الكرياتين تنقسم الثلات مراحل هم:
                    </p>
                    <p>
                        : <span>المرحلة الأولى</span>: مرحلة التحميل و يتم فيها تناول 25
                        جرام كرياتين يوميا لمدة أسبوع . تقسم الجرعة على 5 مرات . كل جرعة 5
                        جرام. يتم خلط الجرعة مع العصير أو مع المياة بجانب تناولها مع
                        الطعام . لأن الكرياتين يحتاج بروتين أو كاربوهيدرات للإمتصاص.
                    </p>
                    <p>
                        : <span>المرحلة الثانية</span> : مرحلة الثبات وهذه المرحلة تكون
                        المدة 25 يوما، وفيها تقلل كمية الكرياتين لمعدل 5 جرامات فقط في
                        اليوم.
                    </p>
                    <p>
                        . <span>المرحلة الثالثة</span> : مرحلة التوقف يجب أخذ استراحة
                        المدة شهر أو أكثر بحسب طبيعة الجسم، ثم يمكن معاودة استخدام
                        الكرياتين لمرة أخرى.
                    </p>
                </div>
                <div class="col-md-11">
                    <h4 class="fav2">فوائد الكرياتين</h4>
                    <p>
                        الكرياتين يزيد من تركيز كمية البروتين في العضلات. مما يمنح العضلات
                        قدرة أسرع على النمو. . يقلل من الألم الذي ينتج من التمارين
                        الرياضية. . يزود عضلات الجسم بكمية عالية من الطاقة، كما أنه يتمكن
                        من بناء كتلة عضلية بوقت أقل. . يسحب الماء الموجود في العضلات.
                    </p>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
>
