    <link rel="stylesheet" href="../css/mokamelat.css" />
    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكمل السيرياس ماس</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/mass.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    قبل البدئ في شرح مكمل السيرياس ماس سنحاول معرفة العوامل الأساسية
                    التي تدخل في زيادة الحجم العضلي للاعبي كمال الاجسام. . النظام
                    التدريبي: يجب أن تتمرن على رفع اوزان ثقيلة. وان تسعى لزيادة الاوزان
                    ومجموع العداة بصورة دورية. وهذا ما يعرف بزيادة الحمل الدوري ويجب
                    ايضا ان تحصل على قسط وافر من النوم يوميا، لأن النمو العضلي يحدث
                    اثناء راحة الجسم وليس أثناء التدريب. . النظام الغذائي : لزيادة
                    الكتلة العضلية يجب أن تتناول سعرات حرارية من الطعام أكثر مما تستهلك
                    يوميا. : هناك عوامل أخرى هامة في نظامك الغذائي، وهي نوعية الأطعمة
                    التي تتناولها. يجب أن تتناول كميات
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav2">*ما هو السيرياس ماس ؟</h4>
                    <p>
                        سيرياس ماس serious mass هو واحد من أشهر مكملات زيادة الوزن
                        والضخامة العضلية يتميز بتركيبة مميزة غنية بالكربوهيدرات والبروتين
                        والسعرات الحرارية مما تجعله اختيارا مناسبا للأشخاص النحاف ضعيفي
                        الشهية الراغبين في زيادة الوزن واكتساب كتلة عضلية جديدة.
                    </p>
                    <h4 class="fav2">*فوائد سيرياس ماس</h4>
                    <ul>
                        <li>
                            . يزودك بجزء جيد من احتياجات جسمك من البروتين والطاقة
                            والفيتامينات اللازمة.
                        </li>
                        <li>: يحتوي على الجلوتامين والكرياتين .</li>
                        <li>. يساعد على زيادة الوزن خاصة لمن يعاني من النحافة.</li>
                        <li>
                            . حاصل على تقييم عالمي ممتاز فهو من أفضلمنتجات الضخامة العضلية
                            وزيادة الوزن.
                        </li>
                        <li>. يعطى ضخامة عضلية إذا اهتممت بنظامك الغذائي .</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="fav2">مكونات السيرياس ماس</h4>
                    <table class="table table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="row">محتوي2 سكوب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">سعرات حرارية</th>
                                <td>1250</td>
                            </tr>
                            <tr>
                                <th scope="row">بروتين</th>
                                <td>50g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الكربوهيدرات</th>
                                <td>252g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الدهون</th>
                                <td>4.5g</td>
                            </tr>
                            <tr>
                                <th scope="row">سكر</th>
                                <td>20g</td>
                            </tr>
                            <tr>
                                <th scope="row">جلوتامين</th>
                                <td>500g</td>
                            </tr>
                            <tr>
                                <th scope="row">كرياتين</th>
                                <td>1g</td>
                            </tr>
                            <tr>
                                <th scope="row">فيتامين س</th>
                                <td>60g</td>
                            </tr>
                            <tr>
                                <th scope="row">فيتامين أ</th>
                                <td>5000IU</td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="2">
                                    وأكثر من 24 نوع من الفيتامينات
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-5">
                    <h4 class="fav2">*الجرعة وكيفية الاستخدام</h4>
                    <ul>
                        <li>
                            - أفضل جرعة للسيرياس ماس هي 2 الى 3 سكوب يوميا او حسب نظامك
                            الغذائي.
                        </li>
                        <li>
                            . يضاف مكيال من السيرياس ماس الى 360 ملل جرام من الماء ويقلب
                            جيدا.
                        </li>
                        <li>
                            . يفضل خلطه في الخلاط مع لبن قليل الدسم وذلك للحصول على طعم
                            رائع.
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="fav">*أفضل اوقات استخدام سيرياس ماس</h4>
                    <div class="d-flex">
                        <ul>
                            <li>أيام التدريب:</li>
                            <li>- نصف سكوب صباحا .</li>
                            <li>سكوب بعد التمرين</li>
                            <li>- نصف سكوب قبل النوم بنصف ساعة الى ساعة</li>
                        </ul>
                        <ul>
                            <li>أيام الراحة:</li>
                            <li>- نصف سكوب صباحا</li>
                            <li>- سكوب مع وجبة الغداء</li>
                            <li>- نصف سكوب قبل النوم بساعة</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>

