    <link rel="stylesheet" href="~/css/mokamelat.css" />
    <!-- start mokamelat -->
    <section class="mokamelat">
        <div class="container">
            <h2>دليل المكملات</h2>

            <div class="row">
                <div class="col-md-3">
                    <a href="~/Pages/whyprotin">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/whyproten.jpg" />
                        </div>
                        <h5>الواى بروتين</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/gainer">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/ganer.jpg" />
                        </div>
                        <h5>مكمل الجينر</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/mass">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/mass.jpg" />
                        </div>
                        <h5>سيرياس ماس</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/kazen">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/casen.jpg" />
                        </div>
                        <h5>مكمل الكازيين</h5>
                    </a>
                </div>

                <!-- secondd row -->
                <div class="col-md-3">
                    <a href="~/Pages/BCAA">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/bcaa.jpg" />
                        </div>
                        <h5>مكمل الBCAA</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/keryaten">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/keryaten.jpg" />
                        </div>
                        <h5>مكمل الكرياتين</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/fishoil">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/fish.jpg" />
                        </div>
                        <h5>مكمل زيت السمك</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="~/Pages/preworkt">
                        <div class="img">
                            <img src="~/assets/image/mokamelat/prework.jpg" />
                        </div>
                        <h5>مكمل قبل التمرين</h5>
                    </a>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Home/Index" class="nav-link">العوده للصفحه الرئيسيه</a>
        </p>
        <br />
    </section>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>

