
    <link rel="stylesheet" href="../css/mokamelat.css" />

    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>مكملات قبل التمرين</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/prework.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    مكملات ما قبل التمرين مصطلح معروف في عالم الرياضيين عموما ولاعبي
                    كمال الأجسام خصوصا بحيث تؤخذ هذه المكملات لتحسين الأداء الرياضي
                    وبناء العضلات أثناء التمرين وتسريع استعادة نشاط النسيج العضلى
                    وتعافيه فيما بعد. هناك عدد من الأمور التي عليك مراعاتها قبل أن تقوم
                    بشراء مكملات ما قبل التمرين، فأنت لن تحتاجها كل الوقت، وعلى الأغلب
                    لن تتمكن من شرائها جميعآ بالإضافة إلى تأثير هدفك من التمرين ومستوى
                    شدته واسم المنتج وجودته على اختيارك للأفضل منها وغير ذلك من
                    إيجابياتها وسلبياتها كما هو الحال قبل شراءك المكملات البروتين
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="fav">مكونات مكملات ما قبل التمرين:</h4>
                    <p>
                        تكون مكملات ما قبل التمرين غالبا مزيج من عدة مكونات وبتأثيرات
                        مختلفة لإعطاء أفضل النتائج. لذا سنقوم هنا بشكل ملخص ذكر أشهر هذه
                        المكونات استخداما في تحضير المكملات الغذائية لما قبل التمرين.
                    </p>

                    <ul>
                        <li>
                            : رجينين Arginine أحد الأحماض الأمينية التي يحتاجها الجسم من
                            الغذاء فقط عندما لا يستطيع الجسم انتاج كميات كافية منه في داخل
                            الجسم وقد حظى باهتمام بالغ بسبب تأثيره المحتمل على انتاج هرمون
                            النمو .
                        </li>
                        <li>
                            الكرياتين Creatine حمض أميني موجود في الجسم بصورة طبيعية. يعمل
                            على توفير معظم الطاقة للأنشطة المرتفعة الشدة ولفترة قصيرة كجري
                            المسافات القصيرة.
                        </li>
                        <li>
                            . بيتاين Betaine مادة تصنع في الجسم ولها وظيفة في عمل الكبد،
                            وتجدد الخلايا، وتصنيع الكارنيتين Carnitine والذي يعتبر من
                            المكملات الشائعة الاستخدام في حبوب حرق الدهون.
                        </li>
                        <li>
                            . لتوراين Taurine حمض أمينى غير رئيسي، وله دورفي دعم الوظائف
                            العصبية ويساعد في تنظيم مستويات الماء والمعادن في الجسم. .
                            كافيين Caffeine مركب كيميائي أبيض وكريستالي يتواجد في القهوة
                            والشاي والمشروبات الغازية والشوكولا وفي بعض الأدوية.
                        </li>
                    </ul>
                </div>

                <div class="col-md-5">
                    <h4 class="fav">فوائد مكملات ما قبل التمرين: ؟</h4>

                    <ul>
                        <li>. تزيد الطاقة والقدرة أثناء أداء التمارين.</li>
                        <li>. تؤخر حدوث التعب والإرهاق.</li>
                        <li>. تزيد قدرة التحقل.</li>
                        <li>. تبني العضلات بشكل أسرع.</li>
                    </ul>
                    <h4 class="fav">سلبيات مكملات ما قبل التمرين:</h4>
                    <p>
                        السلبيات أو الآثار الجانبية لاستخدام المكملات الغذائية قبل التمرين
                        تعتمد على المكونات الموجودة في تركيب المنتج : فالمنتجات المحتوية
                        على الكافيين مثلا قد تتسبب بتسارع دقات القلب والقلق في الليل،
                    </p>
                    <h4 class="fav">كم عليك تناوله من مكملات ما قبل التمرين؟</h4>
                    <p>
                        اتبع ارشادات الاستخدام الموجودة على ملصق المنتج ولا تتخظى تلك
                        الجرعة أبدا. وعلى الرغم من المنتجات الموثوقة لهذا النوع من
                        المكملات تعطي نتائج ايجابية وفوائد من استخدامها، إلا أنه عليك أن
                        تتناولها بحكمة واعتدال لسببين رئيسين . الأول حتى تتجنب أي آثار
                        جانبية ممكن أن تنتج عنها . والثاني لتتجنب اعتياد جسمك على هذه
                        المكملات .
                    </p>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
