@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ar">

<head>
    @*<link rel="stylesheet" href="~/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">*@
    <style>
        .btn,
        .card {
            font-weight: bold;
        }

        .modal-body {
            line-height: 1.8;
            font-weight: bold;
        }

        .row > div {
            margin-bottom: 30px;
        }
    </style>
</head>

<body dir="rtl">


    <section class="question">
        <div class="container">
            <h2 style="margin-top: 129px;text-align: center">الأسئلة الشائعة</h2>

            <div class="row mt-5">

                <div class="col-md-3 mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ماذا تعنى السعرات الحرارية؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    هي وحدة قياس كمية الطاقة في الطعام، والتي من خلالها يتمكن جسم الإنسان من الحركة والقيام بمختلف الأنشطة
                                    في
                                    حياته اليومية؛ مثل: التفكير، والمشي. طبعاً يعبر عن السعرات الحرارية أحيانا بـالكيلو كالوري أو
                                    الكيلوجول
                                    وكلاهما وحدتان لقياس الطاقة
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block" data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#ex">
                        ما هي أفضل مصادر البوتاسيوم؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    البطاطس - الفاصوليا - اللوز - سمك السردين - الخضر.

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#exq">
                        كم مدة الراحة المثالية بين التمرين؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ◼️ 90 الى 120 ثانية فى التمارين الكبيرة
                                    <br>
                                    ◼️ 60 إلى 90 ثانية فى تمارين العزل
                                    <br>
                                    ◼️ 30 إلى 60 ثانية للتمارين بالاوزان الخفيفة
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#exqw">
                        اتمرن منذ مدة ولكن لا يوجد نتائج؟!
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exqw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    السبب هو التغذية فالتغذية تمثل 70% من معادلة نمو العضلات، فراجع نظامك الغذائى

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#r">
                        ما هو الروتين التدريبى؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="r" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    هو أن تعتاد العضلات على أداء تمارين معينه بتكنيك ثابت لفترة زمنيه طويلة وهذا يولد حاله تسمى "الخمول
                                    العضلى" فيشعر المتدرب بعد أدائه التدريب كأنه لم يلعب بتاتا فلا يشعر بالاستفادة من تدريبه ويتوقف نمو
                                    عضلاته. - فى هذه الحاله يجب تغيير النظام التدريبى بالكامل
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#t">
                        ما هو الواى بروتين ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="t" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    هو بروتين مستخلص من الحليب 1 لتر من الحليب يحتوى على 30 جرام من البروتين وهو الاساس ف بناء العضلات
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#j">
                        ما هو السن المناسب للبدء ف ممارسة كمال الأجسام؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="j" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    من الممكن ممارسة هذة الرياضة فى اي سن لكن الأنسب هو سن 18 سنه
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#h">
                        ماذا يحدث إذا إخذت أقل من احتياجي من البروتين ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="h" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    في حالة أخذ كمية بروتين أقل من احتياجك فإن حجم عضلاتك سيبقي صغيرا أو عضلاتك ستنمو بوتيرة بطيئة جدا.
                                    في حالة أخذ كمية من بروتين أكثر من احتياجك وخصوصا من المكملات الغذائية فمن المحتمل أن يسبب لك اضرار علي
                                    مستوي الكبد
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#g">
                        ما الفرق بين البروتين النباتي والبروتين الحيواني ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="g" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ينقسم البروتين إلي نوعين الروتين النباتي والبروتين الحيواني :
                                    البروتينات الموجودة في المنتجات الحيوانية بروتينات كاملة ، أي أنها تحتوي علي جميع الأحماض الأمينية وعددها
                                    ثمانية ، والتي لا يستطيع الجسم صنعها بنفسه وتعتبر ضرورية لبناء 22 حمض أميني.
                                    أما البروتينات النباتية فهي بروتينات غير كاملة ، أي يجب أن تضاف إليها بروتينات أخري كي يحصل الجسم علي جميع
                                    الأحماض الأمينية اللازمه له
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#f">
                        أتمرن منذ مدة طويلة لكن عضلاتي لا تنمو ما السبب ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="f" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    أسباب عدم نمو العضلات كثيرة منها :
                                    - عدم حصولك علي ما يكفي من السعرات الحرارية .<br>
                                    - انت تأكل الأطعمة الخاطئة .<br>
                                    - انت لا تتناول وجبات كافية .<br>
                                    - انت لا تشرب الكمية الكافية من الماء .<br>
                                    - نظام تمرينك خاطئ .<br>
                                    - لقد استخدمت نظام تدريب لمدة طويلة .<br>
                                    - انت لما تكن تركز علي الزيادة في الاوزان .<br>
                                    - انت تمارس التمارين الخاطئة .<br>
                                    - عدم تمرينك للرجل .<br>
                                    - عدم حصولك علي الوقت الكافي للراحة .<br>
                                    - عدم حصولك علي قسط كافي من النوم
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#d">
                        ما هي المكملات الغذائية التي يمكن إستعمالها بالنسبة للمبتدئين؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="d" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    - مكملات الجينر : إن كان يعاني من النحافة ويريد زيادة الوزن.<br>
                                    - مكملات الواي بروتين : إذا كان يريد توفير كميات البروتين التي يحتاجها جسمه لإكتساب عضلات أكبر<br>
                                    - مكملات الأوميجا 3 والفيتامينات والمعادن المغنيسيوم والزنك.<br>
                                    أما باقي المكملات الغذائية ك BCAA والجلوتامين والكرياتين لا يحتاجها المبتدئ في عالم المكملات ويستحسن<br>
                                    تجنبها حتى يتعود جسمه على المكملات الغذائية.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#s">
                        هل الشعور بالألم في العضلة بعد نهاية الحصة التدريبية أمر طبيعي؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="s" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    الشعور بالألم في عضلة معينة بعد التمرين لمدة يوم أو يومين أمر طبيعي ومتوقع، لكن أن تستمر تلك الآلام لمدة
                                    تزيد عن 3 أيام فهذا يدل على أن العضلة لم تأخذ الراحة الكافية لكي تحقق الإستشفاء العضلي؛ وهذا يؤثر سلبًا
                                    على النمو العضلي، لذا عليك التوقف عن تمرين عضلة معينة لم تشفى بعد من التمرين السابق، وينصح بعدم تمرين نفس
                                    العضلة الا بعد مرور 48 ساعة على الأقل على تمرينها السابق خصوصًا إن كان هدفك التضخيم.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#a">
                        إنقطعت عن التدريب مدة طويلة كيف أبدأ مرة أخرى؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    إبدأ بتمارين تستهدف جميع عضلات الجسم بأوزان خفيفة مع زيادة الأوزان بشكل تدريجي لمدة أسبوعين لتجنب الإصابة.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-auto  text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#m">
                        ما هي أفضل طريقة لتناول البيض: نيئ أم مطبوخ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="m" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    من ناحية القيمة الغذائية البروتين في البيض المطبوخ أعلى من البيض النيئ؛ والسبب أن الطبخ يميت بعض الإنزيمات
                                    التي تمنع إمتصاص البروتين. من الناحية الصحية البيض النيئ قد يحتوي على بكتيريا السالمونيلا التي تسبب تسمم
                                    غذائي للجهاز الهضمي.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#n">
                        ما هي أفضل طريقة لتناول البيض: نيئ أم مطبوخ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="n" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    من ناحية القيمة الغذائية البروتين في البيض المطبوخ أعلى من البيض النيئ؛ والسبب أن الطبخ يميت بعض الإنزيمات
                                    التي تمنع إمتصاص البروتين. من الناحية الصحية البيض النيئ قد يحتوي على بكتيريا السالمونيلا التي تسبب تسمم
                                    غذائي للجهاز الهضمي.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#b">
                        هل تمارين الأرجل بشكل عام تفرز أو ترفع من مستوى التستسترون وتزيد من الأداء؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="b" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    أكثر الدراسات التي أجريت كانت على تمارين الأرجل، لكن بشكل عام كلما زادت نسبة العضلات زاد هرمون التستسترون.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#v">
                        ما هي أضرار فول الصويا بالنسبة للاعب كمال الأجسام؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="v" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    هناك العديد من الدراسات التي أكدت وجود صلة بين تناول فول الصويا وبين إصابة الرجال بالعقم، وذلك يرجع إلى
                                    إحتوائه على نسبة عالية من هرمون الاستروجين الانثوي.
                                    وأفادت بعض الأبحاث أن الإكثار من الصويا قد ينقص معدلات الخصوبة؛ لأنه يحتوي على نوع من الاستروجين النباتي
                                    يطلق عليه إسم استروجين الجنينإذ يؤدي تناول كميات كبيرة منه للتقليل من البويضات وبالتالي جعل عملية الحمل
                                    غاية في الصعوبة.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#c">
                        هل يمكن إكتساب عضل وحرق الدهون في آن واحد ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    علميًا لا يمكن لأنه إذا أردت بناء عضل يجب عليك تناول سعرات حرارية أكثر من إحتياجك اليومي وإذا أردت حرق
                                    الدهون يجب عليك تناول سعرات حرارية أقل من إحتياجك اليومي.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#x">
                        هل يمكن حرق الدهون بتناول أغذية صحية ؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="x" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    تناول أغذية صحية وحدها لا يكفي يجب عليك تناول سعرات حرارية أقل من إحتياجك اليومي.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3  mx-auto text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#z">
                        كم يحتاج لاعب كمال الاجسام من البروتين يوميا؟
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="z" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    يحتاج لاعب كمال الاجسام من1,7 الى 2,2 غرام من البروتين لكل كيلو من وزنه اذا كان وزنة من 70 كيلو غرام
                                    فيحتاج من 119 الى 154 غرام بروتين
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-border-orange d-block " data-bs-dismiss="modal"
                                            style="margin-left: auto;">
                                        اغلاق
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p style="text-align: left">
                <a href="~/Home/Index" class="nav-link">العوده للصفحه الرئيسيه</a>
            </p>
            <br />
    </section>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>

    <link href="~/css/lib/bootstrap.min.css" rel="stylesheet" />



    <link href="~/css/style.css" rel="stylesheet" />

</body>

</html>