<link rel="stylesheet" href="~/css/statics.css">
<!-- start statics -->
<section class="statics">
    <div class="container">
        <h3> دليل التغذية</h3>

        <!-- first part -->
        <div class="fooddep">
            <div class="info">
                <h4 class="header"> أقسام الأغذية</h4>
                <p>يمكننا تقسيم الأغذية الأساسية في بناء الجسم <span>إلى 4 أقسام رئيسية وضرورية</span> والتي يجب أن تتوفر في كل وجبة سواء كنت في فترة تضخيم أو تنشيف</p>
            </div>

            <div class="row">
                <div class="col-md-3" style="line-height: 1.4;">
                    <h6>البروتين</h6>
                    <p>يعتبر البروتين من الأطعمة الضرورية لبناء العضلات، ويمكن العثور عليه في:</p>
                    <div>
                        <ul>
                            <li>◼️ الأسماك</li>
                            <li>◼️ الدجاج</li>
                            <li>◼️ البيض</li>
                            <li>◼️ الحليب</li>
                            <li>◼️ منتجات الألبان</li>
                            <li>◼️ بعض المكسرات والخضروات</li>
                        </ul>
                        <div class="img">
                            <img src="~/assets/image/statics/portien.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h6>الدهون الصحية</h6>
                    <p>تعتبر من العوامل الضرورية لنمو العضلات، تساهم في إنتاج هرمون التستوستيرون  ويمكن العثور عليها في:</p>
                    <div>
                        <ul>
                            <li>◼️ الأسماك</li>
                            <li>◼️ المكسرات</li>
                            <li>◼️ الخضار </li>
                            <li>◼️ زيوت</li>
                            <li>◼️ الأفوكادو</li>
                        </ul>
                        <div class="img">
                            <img src="~/assets/image/statics/vegtables.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="line-height: 1.4;">
                    <h6>الكربوهيدرات</h6>
                    <p>تعتبر الكربوهيدرات مصدرًا رئيسيًا للطاقة في الجسم. ويمكن العثور عليها في:</p>
                    <div>
                        <ul>
                            <li>◼️  دقيق الشوفان</li>
                            <li>◼️ البطاطا الحلوة</li>
                            <li>◼️ الأرز </li>
                            <li>◼️ البازلاء </li>
                            <li>◼️ الأطعمة الغنية بالألياف مثل البروكلي والجزر والسبانخ</li>
                        </ul>
                        <div class="img">
                            <img src="~/assets/image/statics/bread.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h6>الفيتامينات والمعادن</h6>
                    <p> المعادن والفيتامينات خصوصًا فيتامي "د" مهمة لجهاز المناعة وقوة العضلات والعظام. وتوجد بكثرة في :</p>
                    <div>
                        <ul>
                            <li>◼️  الفواكه</li>
                            <li>◼️ والخضروات</li>
                            <li>◼️ والمكسرات </li>
                            <li>◼️ والأعشاب </li>
                            <li>◼️ والماء</li>
                        </ul>
                        <div class="img">
                            <img src="~/assets/image/statics/fruits.png" alt="">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- second part -->
        <section class="protin">
            <div class="container">



                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header"> مصادر البروتين</h4>
                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">صدر الدجاج</th>
                                    <td>25g</td>
                                    <td>0g</td>
                                    <td>3.57g</td>
                                    <td>165</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك تونة معلب في الزيت</th>
                                    <td>26.53g</td>
                                    <td>0g</td>
                                    <td>8.08g</td>
                                    <td>186</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك تونة معلب في الماء</th>
                                    <td>23.62g</td>
                                    <td>0g</td>
                                    <td>2.97g</td>
                                    <td>128</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك السردين معلب في الزيت</th>
                                    <td>24g</td>
                                    <td>0g</td>
                                    <td>11g</td>
                                    <td>200</td>
                                </tr>

                                <tr>
                                    <th scope="row">لحم الخروف</th>
                                    <td>25g</td>
                                    <td>0g</td>
                                    <td>23g</td>
                                    <td>282</td>
                                </tr>

                                <tr>
                                    <th scope="row">كبد الدجاج</th>
                                    <td>16.92g</td>
                                    <td>0.73g</td>
                                    <td>4.83g</td>
                                    <td>119</td>
                                </tr>

                                <tr>
                                    <th scope="row">البيض</th>
                                    <td>12.57g</td>
                                    <td>0.78g</td>
                                    <td>9.94g</td>
                                    <td>143</td>
                                </tr>

                                <tr>
                                    <th scope="row"> فول سوداني</th>
                                    <td>25.8g</td>
                                    <td>16.13g</td>
                                    <td>49.24g</td>
                                    <td>567</td>
                                </tr>

                                <tr>
                                    <th scope="row">الجبن الخالي من الدسم</th>
                                    <td>15.69g</td>
                                    <td>7.66g</td>
                                    <td>1g</td>
                                    <td>105</td>
                                </tr>

                                <tr>
                                    <th scope="row">القشدة قليلة الدهن</th>
                                    <td>7.85g</td>
                                    <td>8.13g</td>
                                    <td>15.28g</td>
                                    <td>201</td>
                                </tr>

                                <tr>
                                    <th scope="row">الزبادي كامل الدسم</th>
                                    <td>3.47g</td>
                                    <td>4.66g</td>
                                    <td>3.25g</td>
                                    <td>61</td>
                                </tr>

                                <tr>
                                    <th scope="row">العدس نيء </th>
                                    <td>25.8g</td>
                                    <td>60.08g</td>
                                    <td>1.06g</td>
                                    <td>353</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-6">
                        <!-- <div class="info"> -->
                        <h4 class="header2"> مصادر الكربوهيدرات</h4>

                        <!-- </div> -->
                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">الشوفان</th>
                                    <td>16.89g</td>
                                    <td>66.27g</td>
                                    <td>6.9g</td>
                                    <td>389</td>
                                </tr>

                                <tr>
                                    <th scope="row">الموز</th>
                                    <td>1.09g</td>
                                    <td>22.84g</td>
                                    <td>0.33g</td>
                                    <td>89</td>
                                </tr>

                                <tr>
                                    <th scope="row">البطاطا الحلوة</th>
                                    <td>1.71g</td>
                                    <td>23.4g</td>
                                    <td>0.12g</td>
                                    <td>100</td>
                                </tr>

                                <tr>
                                    <th scope="row">الحمص</th>
                                    <td>4.95g</td>
                                    <td>22.61g</td>
                                    <td>1.14g</td>
                                    <td>119</td>
                                </tr>

                                <tr>
                                    <th scope="row">فول الصويا</th>
                                    <td>13.05g</td>
                                    <td>72.13g</td>
                                    <td>2.09g</td>
                                    <td>336</td>
                                </tr>

                                <tr>
                                    <th scope="row">السبانخ</th>
                                    <td>2.86g</td>
                                    <td>3.63g</td>
                                    <td>0.39g</td>
                                    <td>23</td>
                                </tr>

                                <tr>
                                    <th scope="row">فول سوداني</th>
                                    <td>25.8g</td>
                                    <td>16.13g</td>
                                    <td>49.24g</td>
                                    <td>567</td>
                                </tr>

                                <tr>
                                    <th scope="row">أرز أبيض مسلوق</th>
                                    <td>2.02g</td>
                                    <td>21.09g</td>
                                    <td>0.19g</td>
                                    <td>97</td>
                                </tr>

                                <tr>
                                    <th scope="row">بذور اللوتس</th>
                                    <td>15.41g</td>
                                    <td>64.47g</td>
                                    <td>1.97g</td>
                                    <td>332</td>
                                </tr>

                                <tr>
                                    <th scope="row">الفاصولياء الطازجة</th>
                                    <td>8.67g</td>
                                    <td>22.8g</td>
                                    <td>0.5g</td>
                                    <td>127</td>
                                </tr>

                                <tr>
                                    <th scope="row">ذرة أصفر</th>
                                    <td>9.42g</td>
                                    <td>74.26g</td>
                                    <td>4.74g</td>
                                    <td>365</td>
                                </tr>

                                <tr>
                                    <th scope="row">العدس نيء </th>
                                    <td>25.8g</td>
                                    <td>60.08g</td>
                                    <td>1.06g</td>
                                    <td>353</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </section>

        <!-- third part -->
        <section class="dohon">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header3"> مصادر الدهون الصحية</h4>
                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">زيت الزيتون </th>
                                    <td>0g</td>
                                    <td>0g</td>
                                    <td>99g</td>
                                    <td>880</td>
                                </tr>

                                <tr>
                                    <th scope="row">الأفوكادو</th>
                                    <td>2g</td>
                                    <td>8.53g</td>
                                    <td>14.66g</td>
                                    <td>160</td>
                                </tr>

                                <tr>
                                    <th scope="row">بذور الكتان</th>
                                    <td>18.29g</td>
                                    <td>28.88g</td>
                                    <td>42.16g</td>
                                    <td>534</td>
                                </tr>

                                <tr>
                                    <th scope="row">مكسرات، لوز</th>
                                    <td>21.22g</td>
                                    <td>21.67g	</td>
                                    <td>49.42g	</td>
                                    <td>575</td>
                                </tr>

                                <tr>
                                    <th scope="row">بذور شيا</th>
                                    <td>15.62g</td>
                                    <td>30.75g</td>
                                    <td>43.85g</td>
                                    <td>490</td>
                                </tr>

                                <tr>
                                    <th scope="row">حبوب عباد الشمس</th>
                                    <td>20.78g</td>
                                    <td>20g</td>
                                    <td>51.46g</td>
                                    <td>584</td>
                                </tr>

                                <tr>
                                    <th scope="row">جوز أبيض</th>
                                    <td>12.72g</td>
                                    <td>18.25g</td>
                                    <td>64.37g</td>
                                    <td>657</td>
                                </tr>

                                <tr>
                                    <th scope="row"> فول سوداني</th>
                                    <td>25.8g</td>
                                    <td>16.13g</td>
                                    <td>49.24g</td>
                                    <td>567</td>
                                </tr>

                                <tr>
                                    <th scope="row">	مسكرات، فستق</th>
                                    <td>20.27g</td>
                                    <td>27.51g</td>
                                    <td>45.39g</td>
                                    <td>562</td>
                                </tr>



                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-6">
                        <h4 class="header3">الألبان ومنتجات البيض</h4>
                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">بيضة واحدة</th>
                                    <td>6g</td>
                                    <td>1g</td>
                                    <td>5g</td>
                                    <td>70</td>
                                </tr>

                                <tr>
                                    <th scope="row">بياض البيض</th>
                                    <td>3.6g</td>
                                    <td>0.2	</td>
                                    <td>0g</td>
                                    <td>17</td>
                                </tr>

                                <tr>
                                    <th scope="row">حليب كامل الدسم</th>
                                    <td>3.4g	</td>
                                    <td>	4.7g</td>
                                    <td>3.7g</td>
                                    <td>42</td>
                                </tr>

                                <tr>
                                    <th scope="row">حليب خالي من الدسم</th>
                                    <td>3.37g</td>
                                    <td>4.96g</td>
                                    <td>0.08g</td>
                                    <td>34</td>
                                </tr>

                                <tr>
                                    <th scope="row">الجبن والقشدة خالي من الدسم</th>
                                    <td>15.69g</td>
                                    <td>7.66g</td>
                                    <td>1g</td>
                                    <td>105</td>
                                </tr>

                                <tr>
                                    <th scope="row">حليب رائب مجفف</th>
                                    <td>34.4g	</td>
                                    <td>49g</td>
                                    <td>5.78g</td>
                                    <td>387</td>
                                </tr>

                                <tr>
                                    <th scope="row">زبادي خالي الدسم</th>
                                    <td>3.53g	</td>
                                    <td>23.53g</td>
                                    <td>0g</td>
                                    <td>112</td>
                                </tr>

                                <tr>
                                    <th scope="row">زبادي كامل الدسم</th>
                                    <td>3.47g	</td>
                                    <td>4.66g	</td>
                                    <td>3.25g</td>
                                    <td>61</td>
                                </tr>

                                <tr>
                                    <th scope="row">القشدة قليلة الدهن</th>
                                    <td>7.85g</td>
                                    <td>8.13g</td>
                                    <td>15.28g</td>
                                    <td>201</td>
                                </tr>


                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </section>

        <!-- four part -->
        <section class="fruits">
            <div class="container">


                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header">الخضروات </h4>

                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">البطاطس الحلوة  </th>
                                    <td>	1.6g</td>
                                    <td>	20g</td>
                                    <td>0.14g</td>
                                    <td>86</td>
                                </tr>

                                <tr>
                                    <th scope="row">البطاطس الحمراء </th>
                                    <td>1.89g</td>
                                    <td>	15.9g</td>
                                    <td>0.14g</td>
                                    <td>70</td>
                                </tr>

                                <tr>
                                    <th scope="row">الطماطم الحمراء</th>
                                    <td>0.88g</td>
                                    <td>3.92g	</td>
                                    <td>0.2g</td>
                                    <td>18</td>
                                </tr>

                                <tr>
                                    <th scope="row">بصل </th>
                                    <td>1.1g</td>
                                    <td>9.34g</td>
                                    <td>	0.1g	</td>
                                    <td>40</td>
                                </tr>

                                <tr>
                                    <th scope="row">بروكلي </th>
                                    <td>2.82g</td>
                                    <td>6.64g</td>
                                    <td>	0.37g</td>
                                    <td>34</td>
                                </tr>

                                <tr>
                                    <th scope="row">باذنجان </th>
                                    <td>1.01g</td>
                                    <td>5.7g</td>
                                    <td>	0.19g</td>
                                    <td>24</td>
                                </tr>

                                <tr>
                                    <th scope="row">القرع</th>
                                    <td>1g</td>
                                    <td>6.5g</td>
                                    <td>0.1g</td>
                                    <td>26</td>
                                </tr>

                                <tr>
                                    <th scope="row"> خيار مع القشرة </th>
                                    <td>0.65g	</td>
                                    <td>3.63g</td>
                                    <td>	0.11g 	</td>
                                    <td>15</td>
                                </tr>

                                <tr>
                                    <th scope="row">	فجل نئ</th>
                                    <td>0.68g	</td>
                                    <td>3.4g</td>
                                    <td>0.1g</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <th scope="row">فلفل حلو ، اخضر ، نئ</th>
                                    <td>0.86g</td>
                                    <td>4.64g	</td>
                                    <td>0.17g</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <th scope="row">	ملفوف نئ</th>
                                    <td>1.28g</td>
                                    <td>5.8g</td>
                                    <td>0.1g	</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th scope="row">جزر نئ</th>
                                    <td>0.93g	</td>
                                    <td>9.58g	</td>
                                    <td>0.24g	</td>
                                    <td>41</td>
                                </tr>



                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-6">
                        <h4 class="header"> الفواكه</h4>

                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">الأفاكادو  </th>
                                    <td>2g</td>
                                    <td>8.53g	</td>
                                    <td>14.66g	</td>
                                    <td>160</td>
                                </tr>

                                <tr>
                                    <th scope="row">الموز </th>
                                    <td>1.09g</td>
                                    <td>22.84g</td>
                                    <td>0.33g</td>
                                    <td>89</td>
                                </tr>

                                <tr>
                                    <th scope="row">برتقال </th>
                                    <td>0.94g</td>
                                    <td>11.75g	</td>
                                    <td>0.12g</td>
                                    <td>47</td>
                                </tr>

                                <tr>
                                    <th scope="row">تفاح </th>
                                    <td>0.26g	</td>
                                    <td>13.81g</td>
                                    <td>0.17g</td>
                                    <td>52</td>
                                </tr>

                                <tr>
                                    <th scope="row">العنب </th>
                                    <td>0.72g</td>
                                    <td>18.1g</td>
                                    <td>0.16g	</td>
                                    <td>69</td>
                                </tr>

                                <tr>
                                    <th scope="row">رمان  </th>
                                    <td>1.67g</td>
                                    <td>18.7g</td>
                                    <td>1.17g</td>
                                    <td>83</td>
                                </tr>

                                <tr>
                                    <th scope="row">المشمش</th>
                                    <td>1.4g</td>
                                    <td>11.12g</td>
                                    <td>0.39g</td>
                                    <td>	48</td>
                                </tr>

                                <tr>
                                    <th scope="row"> أناناس </th>
                                    <td>0.54g</td>
                                    <td>	13.12g</td>
                                    <td>0.12g</td>
                                    <td>50</td>
                                </tr>

                                <tr>
                                    <th scope="row">	تين شوكي . ( الصبار )</th>
                                    <td>0.73g	</td>
                                    <td>	9.57g</td>
                                    <td>	0.51g</td>
                                    <td>41</td>
                                </tr>
                                <tr>
                                    <th scope="row">تين</th>
                                    <td>	0.75g</td>
                                    <td>	19.18g	</td>
                                    <td>	0.3g</td>
                                    <td>	74</td>
                                </tr>
                                <tr>
                                    <th scope="row">	خوخ</th>
                                    <td>0.91g</td>
                                    <td>9.54g</td>
                                    <td>0.25g</td>
                                    <td>39</td>
                                </tr>
                                <tr>
                                    <th scope="row">توت</th>
                                    <td>1.44g</td>
                                    <td>9.8g</td>
                                    <td>0.39g</td>
                                    <td>43</td>
                                </tr>



                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
        </section>


        <!-- five part -->
        <section class="meat">
            <div class="container">


                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header"> الدواجن</h4>

                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">كبد الدجاج </th>
                                    <td>16.92g</td>
                                    <td>0.73g</td>
                                    <td>4.83g</td>
                                    <td>119</td>
                                </tr>
                                <tr>
                                    <th scope="row">كبد ديك رومى</th>
                                    <td>20.02g</td>
                                    <td>1.21g</td>
                                    <td>20.54g</td>
                                    <td>273</td>
                                </tr>
                                <tr>
                                    <th scope="row">كبد الاوز</th>
                                    <td>16.37g</td>
                                    <td>4.28g</td>
                                    <td>6.23g</td>
                                    <td>133</td>
                                </tr>

                                <tr>
                                    <th scope="row">صدر دجاج لحم فقط نئ</th>
                                    <td>23g</td>
                                    <td>0g</td>
                                    <td>1g</td>
                                    <td>124</td>
                                </tr>

                                <tr>
                                    <th scope="row">صدر دجاج لحم فقط مشوى</th>
                                    <td>23.61g</td>
                                    <td>0g</td>
                                    <td>1.4g</td>
                                    <td>165</td>
                                </tr>

                                <tr>
                                    <th scope="row">صدر دجاج لحم فقط مقلى</th>
                                    <td>14.50g</td>
                                    <td>0.51g</td>
                                    <td>4.71g</td>
                                    <td>187</td>
                                </tr>

                                <tr>
                                    <th scope="row">فخذ دجاج لحم فقط مشوى</th>
                                    <td>26.03g</td>
                                    <td>0g</td>
                                    <td>11.15g</td>
                                    <td>216</td>
                                </tr>

                                <tr>
                                    <th scope="row">فخذ دجاج لحم فقط مقلى</th>
                                    <td>26.62g</td>
                                    <td>0g</td>
                                    <td>8.08g</td>
                                    <td>195</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>

                    <div class="col-md-6">
                        <h4 class="header2">الاسماك واللحوم </h4>

                        <table class="table table-hover table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">الاسم</th>
                                    <th scope="col">بروتين</th>
                                    <th scope="col">كربوهيدرات</th>
                                    <th scope="col">دهون</th>
                                    <th scope="col">طاقة س حرارية<br> KCAL</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">لحم خروف</th>
                                    <td>25.6g</td>
                                    <td>0g</td>
                                    <td>16.5g</td>
                                    <td>258</td>
                                </tr>
                                <tr>
                                    <th scope="row">لحم ماعز </th>
                                    <td>21g</td>
                                    <td>0g</td>
                                    <td>2g</td>
                                    <td>109</td>
                                </tr>
                                <tr>
                                    <th scope="row">لحم بقرى</th>
                                    <td>26.1g</td>
                                    <td>0g</td>
                                    <td>11.8g</td>
                                    <td>217</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك السلمون</th>
                                    <td>19.84g</td>
                                    <td>0g</td>
                                    <td>6.34g</td>
                                    <td>142</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك البورى</th>
                                    <td>19.35g</td>
                                    <td>0g</td>
                                    <td>3.79g</td>
                                    <td>117</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك التونة </th>
                                    <td>23.38g</td>
                                    <td>0g</td>
                                    <td>0.95g</td>
                                    <td>108</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك السردين</th>
                                    <td>20.4g</td>
                                    <td>0g</td>
                                    <td>9g</td>
                                    <td>163</td>
                                </tr>

                                <tr>
                                    <th scope="row">سمك السردين معلب ف الزيت</th>
                                    <td>24g</td>
                                    <td>0g</td>
                                    <td>11g</td>
                                    <td>200</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
            <br />
            <br />
            <p style="text-align: left">
                <a href="~/Home/Index" class="nav-link">العوده للصفحه الرئيسيه</a>
            </p>
            <br />
        </section>
    </div>
</section>
<script src="~/js/lib/bootstrap.bundle.min.js"></script>
