    <link rel="stylesheet" href="../css/mokamelat.css" />
    <!-- start whyprotin -->
    <section class="why">
        <div class="container">
            <div class="top">
                <h2>الواي بروتين</h2>
                <div class="img">
                    <img src="../assets/image/mokamelat/whyproten.jpg" />
                </div>
            </div>
            <div class="defination">
                <p>
                    <span>الواي بروتين </span>هو مكمل غذائي مستخلص من حليب البقر يعد
                    مرحلة تصنيع الجبن وإستخلاص الدهون . تناول البروتين يساعد الجسم علي
                    تكوين الأحماض الامينية وزيادة القوة في التمرين وسرعة تعافي العضلة
                    بعد التمرين .
                </p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h3 class="fav aliencenter">
                        ما هو احتياج الجسم من البروتين يوميا ؟
                    </h3>
                    <p>
                        يحتاج الشخص العادي <span>1 جرام بروتين</span> صافي لكل كيلو من
                        وزنه . مثلا وزنك 70 كيلو اذا انت تحتاج
                        <span>70 جرام بروتين صافي يوميا</span> .
                        <span>اما بالنسبة لممارسي كمال الأجسام</span> وبناء العضلات فإن
                        الأمر يختلف حيث يحتاج لاعب كمال الاجسام
                        <span>من 1.6 الي 2 جرام</span>
                        بروتين لكل كيلو جرام من وزنه مثلا اذا كان وزنك 100 كيلو جرام
                        وتمارس رياضة كمال الاجسام فإنك
                        <span>تحتاج من 160 ل 200 جرام بروتين يوميا</span> .
                    </p>
                </div>
                <div class="col-md-5">
                    <h4 class="fav2">مكونات الواى بروتين</h4>
                    <table class="table table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="row">محتوي 1 سكوب 31g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">سعرات حرارية</th>
                                <td>120</td>
                            </tr>
                            <tr>
                                <th scope="row">بروتين</th>
                                <td>24g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الكربوهيدرات</th>
                                <td>4g</td>
                            </tr>
                            <tr>
                                <th scope="row">مجموع الدهون</th>
                                <td>1g</td>
                            </tr>
                            <tr>
                                <th scope="row">سكر</th>
                                <td>2g</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-5">
                    <h4 class="fav2">أنواع الواي بروتين</h4>
                    <p>
                        هناك العديد من الواي بروتين والفرق الرئيسي بينهما هو الطريقة التي
                        تم تجهيزها بها .
                    </p>
                    <ul>
                        <li>
                            1- كونسينتريت : 70% - 80% بروتين يحتوي علي بعض اللاكتوز والدهون
                            ولها نكهة أفضل .
                        </li>
                        <li>
                            2- ايزوليت : 90% من البروتين أو أعلي يحتوي علي أقل من اللاكتوز
                            والدهون ويفتقد الكثير من العناصر الغذائية المفيدة الموجودة في
                            تركيز بروتين مصل اللبن .
                        </li>
                        <li>
                            3- هيدروليزد : أزيد من 95% من البروتين هذا النوع يحصل امتصاصه
                            بشكل أسرع وهو يؤدي إلي ارتفاع أكبر 28-43% في مستويات الأنسولين
                            من الايزوليت .
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h4 class="fav2">افضل وقت اتناول الواي بروتين ؟</h4>
                    <p style="text-align: right; line-height: 2.3">
                        العديد من الدراسات والتجارب أثبتت أن الواي بروتين له فوائد علي
                        بناء العضلات سواء تم تناوله قبل التمرين او بعد التمرين مباشرتا او
                        خلال 24 ساعة بعد التمرين . دراسة حديثة نشرت في American journal of
                        physiology قارنت بين مجموعتين من المتدريبين يتناولين 20 جرام من
                        الواي بروتين قبل التمرين وبعد التمرين . اكتشف أن الباحثون أن هناك
                        أفضلية طفيفة لتناول الواي بروتين قبل التمرين ولذلك هم ينصحون
                        بتناول الواي بروتين قبل التدريب ب 30-45 دقيقة حتي يتم هضم وتمثيل
                        الاحماض الأمينية . ولكنهم بالطبع ينصحون ان الطريقة الأمثل لزيادة
                        تخليق البروتين وبناء العضلات هي تناول الواي بروتين قبل التمرين
                        وبعده . اذا كنت تتناول سكوب واحدة يوميا ، تناولها قبل التمرين اما
                        كنت تتناول 2 سكوب يفضل ان تتناول سكوب واحد قبل التمرين والسكوب
                        االاخر بعده
                    </p>
                </div>
            </div>
        </div>
        <p style="text-align: left">
            <a href="~/Pages/mokamelat" class="nav-link">العوده للصفحه المكملات</a>
        </p>
        <br />
    </section>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>

